<!-- Wappler include head-page="layouts/fichedmd" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="gmail" appConnect="local" -->
<meta name="ac:route" content="/E-services/gmail">
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js" integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<p><b>Bonjour,</b></p>

<p>Félicitations, votre demande de branchement-neuf a été enregistrée avec succès ! Pour finaliser la procédure, veuillez imprimer la fiche ci-dessous :</p>

<p><b>Votre fiche de demande : </b><span>---&nbsp;</span>&nbsp;<a href="http://192.168.14.32:3000/E-services/TelechargementFicheDmd?Num_dmd={{generatedID}}">fichedemande_{{generatedID}}</a>&nbsp;---</p>

<p>N'hésitez pas à nous contacter si vous avez des questions ou besoin d'assistance supplémentaire.</p>


<br><br>
<p class="text-center">Electricité de Djibouti, Bd de la République <span class="hidden-sm hidden-xs"> <br>
        Service Clientéle, Tel: <a href="tel:0025321352851">+253 21 35 28 51</a> | Email: <a href="mailto:clientele@edd-dj.com">clientele@edd-dj.com </span></a> <br>
    <a href="https://www.edd.dj">www.edd.dj</a>
</p>